.navbar {
  height: 68px;
  z-index: 99;
  box-shadow: 0 8px 6px -6px #999;
  background-color: #fff; }
  .navbar .nav-item {
    border-bottom: 3px solid transparent; }
    .navbar .nav-item:hover {
      border-bottom-color: #579e5e; }
    .navbar .nav-item.active {
      border-bottom-color: #579e5e; }
  .navbar .nav-link {
    padding: 20px 16px;
    font-size: 16px;
    background-color: #fff; }

.navbar-collapse {
  z-index: 99;
  background-color: #fff; }

.heading-background {
  background-image: url(../assets/images/homepageBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative; }
  .heading-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 41, 13, 0.5); }

.main-content {
  height: 100%; }
  .main-content .homepage-heading {
    color: #fff;
    max-width: 900px;
    z-index: 10; }
  .main-content .subheading {
    width: 670px;
    color: #fff;
    z-index: 10; }

.what-we-do .content {
  max-width: 670px; }

footer {
  height: 256px;
  z-index: 100;
  box-shadow: 0 -8px 2px -8px #999; }

.footer-wrap {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px; }

.footer-nav {
  margin: 0;
  border-right: 1px solid #484848; }
  .footer-nav .nav-item {
    width: 170px;
    height: 29px;
    margin-bottom: 30px; }
  .footer-nav .nav-link {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 21px;
    padding: 7px 0; }

.partner-logo {
  height: 100%;
  max-width: 610px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .partner-logo .logo-img {
    height: 90px;
    flex: 1;
    padding: 20px;
    margin: 0 auto; }
    .partner-logo .logo-img img {
      height: 100%;
      object-fit: cover; }

.events-background {
  background-image: url(../assets/images/eventsBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative; }
  .events-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 41, 13, 0.5); }

.main-content {
  height: 100%; }
  .main-content .heading {
    color: #fff;
    max-width: 900px;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    max-width: 570px;
    padding: 2rem 3rem;
    border: 1px solid #fff; }
    .main-content .heading h1 {
      font-size: 38pt; }

.events-section {
  padding: 2rem 0rem; }
  .events-section .heading {
    padding: 2rem 0rem; }
    .events-section .heading h1 {
      font-size: 32pt;
      font-weight: 300;
      font-family: "Lora", serif;
      margin-left: 15px;
      padding: 0;
      margin-bottom: 0; }

.events-container {
  padding: 2.4rem 0; }
  .events-container .event-time {
    font-family: "Roboto", sans-serif;
    font-size: 20pt; }
  .events-container h4 {
    font-size: 19px;
    font-weight: bolder; }
  .events-container p {
    font-size: 16px; }

.btn {
  background-color: #53a1ff;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 10px; }

.presentations-background {
  background-image: url(../assets/images/presentationBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative; }
  .presentations-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 41, 13, 0.5); }

.main-content {
  height: 100%; }
  .main-content .heading {
    color: #fff;
    max-width: 900px;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    max-width: 570px;
    padding: 2rem 3rem;
    border: 1px solid #fff; }
    .main-content .heading h1 {
      font-size: 38pt; }

.presentations-section {
  height: 100vh; }
  .presentations-section .heading h1 {
    font-family: "Lora", serif;
    font-weight: 300;
    font-size: 32px; }

.contact-background {
  background-image: url(../assets/images/contactBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative; }
  .contact-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(151, 152, 115, 0.4); }
  .contact-background .heading {
    display: inline-block;
    text-align: center;
    max-width: 570px;
    padding: 2rem 3rem;
    border: 1px solid #fff; }
    .contact-background .heading h1 {
      font-family: "Lora", serif;
      font-size: 38pt; }

.contact-card {
  border-bottom: 1px solid #484848; }
  .contact-card h2 {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    color: #484848; }
  .contact-card p {
    font-size: 17px;
    font-style: italic; }
  .contact-card a {
    color: #484848;
    text-decoration: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none;
  color: inherit; }

.about-background {
  background-image: url(../assets/images/aboutBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative; }
  .about-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(151, 152, 115, 0.5); }
  .about-background .heading {
    display: inline-block;
    text-align: center;
    max-width: 570px;
    padding: 2rem 3rem;
    border: 1px solid #fff; }
    .about-background .heading h1 {
      font-family: "Lora", serif;
      font-size: 38pt; }
  .about-background .subheading {
    text-align: center; }
    .about-background .subheading h4 {
      font-family: "Lora", serif;
      font-size: 23pt; }

.card {
  max-width: 370px;
  max-height: 414px;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  position: relative; }
  .card .image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card .image img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .card .content {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 17px; }
  .card .middle {
    position: absolute;
    transition: 0.5 ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
    .card .middle p {
      color: #484848;
      z-index: 99;
      font-weight: 900;
      font-size: 21px;
      font-family: "Roboto", sans-serif; }
  .card:hover .image {
    opacity: 0.3; }
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .card:hover .middle {
    opacity: 1; }

.biography-section {
  display: flex;
  position: relative; }
  .biography-section .about {
    max-width: 670px; }
  .biography-section .link-with-style {
    text-decoration: underline;
    font-weight: bolder; }
  .biography-section .card {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    border: 0;
    background: transparent; }
    .biography-section .card .image {
      border-radius: 50%;
      background-color: #fff;
      padding: 10px;
      height: 250px;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .biography-section .card .image img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .biography-section .card:hover .image {
      opacity: 1; }
    .biography-section .card:hover {
      box-shadow: none; }
    .biography-section .card p {
      padding: 1.2rem 0;
      font-weight: 700;
      font-size: 19px;
      text-align: center; }
  .biography-section .overlay {
    background-image: url("../assets/images/Group 23.png");
    background-size: cover;
    z-index: -10;
    position: absolute;
    width: 492px;
    height: 411px;
    right: 140px;
    top: -70px; }

.references-section {
  position: relative; }
  .references-section .references {
    max-width: 970px; }
    .references-section .references .content p {
      font-size: 16px; }
  .references-section .overlay-2 {
    background-size: cover;
    z-index: -10;
    position: absolute;
    width: 570px;
    height: 292px;
    left: 150px;
    top: 140px;
    transform: rotate(-45deg); }

/* Global resets */
* {
  border: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  color: #484848;
  font-family: "Roboto", sans-serif; }

.heading {
  font-family: "Lora", serif; }
