.about-background {
  background-image: url(../assets/images/clint-adair-BW0vK-FA3eg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #979873, $alpha: 0.4);
  }

  .heading {
    display: inline-block;
    text-align: center;
    width: 570px;
    padding: 3rem 0;
    border: 1px solid $main-color;

    h1 {
      font-family: $Heading-Lora;
      font-size: 48pt;
    }
  }
}
