.events-background {
  background-image: url(../assets/images/Agenda.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #2e290d, $alpha: 0.5);
  }
}
.main-content {
  height: 100%;
  .heading {
    color: $main-color;
    width: 900px;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
  }
}
.events-section {
  padding: 2rem 0rem;

  .heading {
    padding: 2rem 0rem;

    h1 {
      font-size: 32pt;
      font-weight: 300;
      font-family: $Heading-Lora;
      margin-left: 15px;
      padding: 0;
      margin-bottom: 0;
    }
  }
}
.events-container {
  padding: 2.4rem 0;

  .event-time {
    font-family: $Body-Roboto;
    font-size: 20pt;
  }
  h4 {
    font-size: 19px;
    font-weight: bolder;
  }
  p {
    font-size: 16px;
  }
}
.btn {
  background-color: $btn-color;
  color: $main-color;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}
