.heading-background {
  background-image: url(../assets/images/Forest1.jpg);
  background-position: center;
  background-size: cover;
  height: 548px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #2e290d, $alpha: 0.5);
  }
}
.main-content {
  height: 100%;
  .homepage-heading {
    color: $main-color;
    width: 900px;
    z-index: 10;
  }
  .subheading {
    width: 670px;
    color: $main-color;
    z-index: 10;
  }
}
.what-we-do {
  .content {
    width: 670px;
  }
}
