.navbar {
  height: 68px;
  z-index: 99;
  box-shadow: 0 8px 6px -6px #999;
  background-color: $main-color;

  .nav-item {
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom-color: #579e5e;
    }
    &.active {
      border-bottom-color: #579e5e;
    }
  }
  .nav-link {
    padding: 20px 16px;
    font-size: 16px;
    background-color: $main-color;
  }
}

.navbar-collapse {
  z-index: 99;
  background-color: $main-color;
}
